.head, a{
    padding-left: 20px;
    padding-right: 30px;
}
h1{
    padding-top: 10px;
}
.contaner{
    width: 80%;
    padding-top:5px;
    padding-left: 50px;
}
.group-result{
    margin-top: 30px;
}
.wr{
    color:red;
}